*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    /* font-size: 1.25rem; */
}
.img-center-innov {
    width: 80%;
}


@media screen and (max-width:992px) {

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    .order3 {
        order: 3;
    }
}